{% extends "layout.html" %}
{% block content %}

  <h1 class='padding'>Insights</h1>
  <h5 class='padding'>Innovation Opportunities</h5>
  <p class='padding indent'>&#8226 This data could, with a live working platform and a larger backend storage solution,
  help to either calculate the populations' mood, or the exchange rate based off of tweet sentiments.</p>
  <p class='padding indent'>&#8226 This dataset would grow larger and larger, with the need for more complex data analyses and machine
  learning software.</p>
  <p class='padding indent'>&#8226 The twitter sentiment need not only apply to GBP EUR exchange rate (as Brexit will eventually pass),
  but could also help predict other stock prices, depending on certain keywords.</p>

  <h5 class='padding padfurther'>Creativity Opportunities</h5>
  <p class='padding'>&#8226 The twitter sentiment need not only apply to GBP EUR exchange rate (as Brexit will eventually pass),
  but could also help predict other stock prices, depending on certain keywords.</p>
  <p class='padding'>&#8226 The data can also help infer other meaning. For example, there might be a spike in twitter activity and a drop
  in the pound value if there is a negative news article released on the topic, and tools could be implemented to understand how these articles
  may affect future GBP EUR values.</p>

  <h5 class='padding padfurther'>Enterprise Opportunities</h5>
  <p class='padding'>&#8226 The data could be used to work out the best times to travel abroad, for example to take advantage of the best
  exchange rates. Alternatively it could warn you when not to.</p>

  <h5 class='padding padfurther'>Scalability Opportunities</h5>
  <p class='padding'>&#8226 Growing the machine learning model such that it can predict future values would be beneficial to all. Currently
  only present values are predicted, and with much more data and more in-depth analysis, the database could become rather robust.</p>

  <h5 class='padding padfurther'>Complexity</h5>
  <p class='padding'>&#8226 Adding more and more data sets other than just twitter, which may be more correlated with the exchange rate.
  For example, other exchange rater such as USD, or stock price shares of british companies. All these factors could add up to a more robust model.</p>
  <img class="imgsize2 padfurther" src="https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/743/cached.offlinehbpl.hbpl.co.uk/news/OMC/Brexit-201608030451513551-201804270857259151-20190108034139555.jpg" alt="Scatter Plot">
  <p class='padding indent'><small><small>source: https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/743/cached.offlinehbpl.hbpl.co.uk/news/OMC/Brexit-201608030451513551-201804270857259151-20190108034139555.jpg</small></small></p>


{% endblock content %}
